<header class="banner">
    <a href="index.html" class="logo-link">
        <div class="logo">
            <p>TS</p>
        </div>
    </a>

    <!-- mobile hamburger button -->
    <button class="hamburger" aria-label="Menu" aria-expanded="false" type="button">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>

    <nav class="nav-links" aria-label="Main Navigation">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="pages/about-me.html">About Me</a></li>
            <li><a href="pages/portfolio.html">Portfolio</a></li>
            <li><a href="pages/qualifications.html">Qualifications</a></li>
            <li><label class="switch">
                    <input type="checkbox" id="toggleSwitch">
                    <span class="slider"></span>
                </label> </li>
        </ul>
    </nav>
</header>